@charset "utf-8";
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0
}

body,
input,
textarea,
select,
table {
  font: 12px/1.5 malgun gothic, '맑은 고딕', Dotum, '돋움', Microsoft YaHei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, Helvetica, "Apple SD Gothic Neo", sans-serif;
  color: #444
}

img,
fieldset,
button {
  border: none
}

img {
  vertical-align: top
}

li {
  list-style: none
}

em,
address {
  font-style: normal
}

a {
  color: #444;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

hr,
legend,
caption {
  display: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: none
}

input[type=text],
input[type=password] {
  -webkit-appearance: none;
  border-radius: 0
}

::-webkit-input-placeholder {
  color: #ccc
}

:-moz-placeholder {
  color: #ccc
}

::-moz-placeholder {
  color: #ccc
}

:-ms-input-placeholder {
  color: #ccc
}

.blind {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: 100%;
  white-space: nowrap
}

.chk {
  width: 13px;
  height: 13px;
  margin: -1px 2px 0 0;
  padding: 0;
  vertical-align: top
}

.w {
  position: relative;
  width: 1210px;
  margin: 0 auto
}

.sp {
  overflow: hidden;
  display: inline-block;
  background: url(../img/frontend/pc/sp.png) no-repeat;
  font-size: 0;
  line-height: 0;
  *display: inline;
  *zoom: 1
}

.fc {
  zoom: 1
}

.fc:after {
  display: block;
  clear: both;
  content: ''
}

.lr {
  margin-bottom: 1px;
  background: url(../img/frontend/pc/bg_help.gif) repeat-y
}

.bgn {
  background: none !important
}

#header {
  background: #ffffff;
  color: #d2d6e0
}

#header .sta {
  position: relative;
  height: 50px
}

.logo {
  float: left;
  margin-top: 30px;
  height: 60px;
  background-position: 0px -470px;
  width: 250px;
}

.logo a {
  display: block;
  width: 116px;
  height: 39px
}

.subtitle {
  float: left;
  height: 100px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100px;
  letter-spacing: -3px
}

.gnb {
  float: left;
  margin: 0 25px
}

.gnb li {
  float: left
}

.gnb li a {
  display: inline-block;
  height: 100px;
  padding: 0 20px;
  font-size: 20px;
  color: #898d9d;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px
}

.gnb li a:hover,
.gnb li a.on {
  text-decoration: none;
  color: #fff
}

.gnb li.vbar {
  width: 1px;
  height: 18px;
  margin-top: 42px;
  background: #515665;
  font-size: 0
}

.search {
  position: absolute;
  top: 32px;
  left: 50%;
  width: 400px;
  height: 35px;
  margin-left: -201px;
  border: 1px solid #d96600
}

.search input {
  float: left;
  width: 355px;
  height: 25px;
  padding: 5px;
  border: 0;
  background: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -1px;
  vertical-align: top;
  outline: none
}

.search button {
  float: left;
  width: 35px;
  height: 35px;
  background-position: -120px 0;
  color: transparent;
  cursor: pointer;
  background-color: #ff7800;
}

.user_info {
  float: right;
  margin-top: 32px
}

.user_info>li {
  float: left;
  position: relative
}

.user_info li a {
  display: inline-block;
  height: 35px;
  color: #000000;
  line-height: 35px
}

.user_info li a.login {
  width: 55px;
  border: 1px solid #000000;
  text-align: center
}

.user_info li a.login:hover {
  color: #fff;
  text-decoration: none;
  background-color: #d96600;
  border-color: #d96600;
}

.user_info li a.uname {
  font-size: 14px
}

.user_info li a.uname img {
  float: left;
  margin-right: 3px;
  border-radius: 50%;
  border: 1px solid #1c2233
}

.user_info li a.uname span {
  padding-right: 3px;
  vertical-align: top
}

.user_info li a.uname i {
  width: 7px;
  height: 35px;
  background-position: -160px 0
}

.uname_sub {
  display: none;
  position: absolute;
  top: 40px;
  left: -25%;
  width: 150px;
  background: #fff;
  border-radius: 1px;
  border: 1px solid #1c2233;
  z-index: 100
}

.uname_sub em {
  position: absolute;
  top: -7px;
  left: 50%;
  width: 13px;
  height: 7px;
  margin-left: -6px;
  background-position: -170px 0
}

.uname_sub ul {
  margin: 10px 0 0
}

.uname_sub li {
  height: 35px;
  line-height: 35px
}

.uname_sub li a {
  display: block;
  padding: 0 20px
}

.uname_sub li a:hover {
  background: #f5f5f5;
  text-decoration: none
}

.uname_sub li i {
  width: 18px;
  height: 18px;
  margin: -3px 8px 0 0;
  background-position: -190px 0;
  vertical-align: middle
}

.uname_sub li i.v2 {
  background-position: -208px 0
}

.uname_sub li i.v3 {
  background-position: -226px 0
}

.uname_sub li i.v4 {
  background-position: -244px 0
}

.uname_sub li i.v5 {
  background-position: -262px 0
}

.uname_sub li.cut {
  border-bottom: 1px solid #eee
}

.snb {
  width: 100%;
  height: 43px;
  border-top: 2px solid #ff7800;
  border-bottom: 1px solid #000000;
  background: #000000
}

.nav li {
  float: left;
  padding-right: 15px
}

.nav li a {
  display: block;
  position: relative;
  height: 43px;
  padding: 0 8px;
  font-size: 18px;
  line-height: 41px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #ffffff;
}

.nav li a:hover,
.nav li a.on {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none
}

.nav li a i {
  display: none
}

.nav li a:hover i,
.nav li a.on i {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ff7800;
  font-size: 0
}

.quick {
  float: right
}

.quick li {
  float: left;
  position: relative;
  z-index: 60
}

.quick li a {
  overflow: visible;
  display: block;
  position: relative;
  width: 43px;
  height: 43px;
  background-position: 0 -39px;
  text-align: center;
  z-index: 10
}

.quick li a.v2 {
  background-position: -43px -39px
}

.quick li a.v3 {
  background-position: -86px -39px
}

.quick li a.v4 {
  background-position: -55px -243px
}

.quick li a:hover {
  background: #eee;
  text-decoration: none
}

.quick li a:hover span {
  display: inline-block;
  margin-top: 10px;
  font-family: Dotum, '돋움', sans-serif;
  font-size: 12px;
  line-height: 13px;
}

.quick li a:hover em {
  display: block
}

.quick li em {
  display: none;
  position: absolute;
  top: 43px;
  left: -50px;
  width: 120px;
  padding: 10px;
  border-radius: 1px;
  border: 1px solid #1c2233;
  background: #fff;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  text-align: center;
  line-height: 1.5;
  cursor: default;
  z-index: 20
}

.quick li em i {
  position: absolute;
  top: -7px;
  left: 50%;
  width: 13px;
  height: 7px;
  margin-left: -6px;
  background-position: -170px 0
}

.k_599x125 {
  overflow: hidden;
  width: 1222px;
  height: 332px;
  margin-left: -12px;
  padding: 28px 0 40px
}

.k_599x125 a {
  display: inline-block;
  position: relative;
  margin: 12px 0 0 12px
}

.k_599x125 a i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 599px;
  height: autopx;
  border-radius: 1px;
  border: 1px solid #000;
  opacity: .08;
  filter: alpha(opacity=8)
}

.k_599x125 a:hover img {
  opacity: .85;
  -khtml-opacity: .85;
  -moz-opacity: .85;
  filter: alpha(opacity=85)
}

.k_599x125 img {
  width: 599px;
  height: autopx;
  border-radius: 1px
}

#aside.k .k_293x154 {
  width: 293px;
  height: auto;
  margin: 0;
  padding: 0
}

#aside.k .k_293x154 a {
  margin: 0 0 12px 0;
  display: inline-block;
  position: relative;
}

#aside.k .k_293x154 i {
  width: 291px
}

.paging {
  overflow: hidden;
  height: 40px;
  padding: 10px 0 50px;
  font: 15px tahoma, sans-serif;
  text-align: center
}

.paging strong,
.paging a {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-left: -1px;
  border: 1px solid #ff7800;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.paging strong {
  border-color: #ff7800;
  background: #ff7800;
  color: #fff;
  border-radius: 50%;
}

.paging a {
  color: #ff7800
}

.paging a:hover {
  position: relative;
  border-color: #ff7800;
  color: #ffffff;
  text-decoration: none;
  background-color: #ff7800;
}

.paging span {
  display: inline-block;
  margin: 0 10px;
  color: #ff7800
}

.spi li {
  float: left
}

.spi a {
  overflow: hidden;
  display: inline-block;
  position: relative;
  height: 54px;
  padding: 0 15px;
  margin-left: 7px;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  line-height: 0;
  text-align: center
}

.spi a.like {
  line-height: 54px !important
}

.spi a.like i {
  width: 22px;
  height: 20px;
  margin-top: 17px;
  background-position: -190px -82px
}

.spi a.like span {
  display: inline-block;
  margin: -1px 0 0 3px;
  font-size: 20px;
  color: #0f0f0f;
  letter-spacing: -1px;
  vertical-align: top
}

.spi a.like.on i {
  background-position: -212px -82px
}

.spi a.share {
  font-size: 0
}

.spi a.share i {
  width: 25px;
  height: 24px;
  margin-top: 15px;
  background-position: -234px -82px
}

#footer {
  margin-top: -1px;
  border-top: 1px solid #e6e6e6
}

.notice {
  height: 50px;
  background: #fff;
  font-size: 14px;
  line-height: 50px
}

.notice dt {
  float: left;
  font-weight: bold
}

.notice dd {
  padding-left: 80px;
  font-size: 12px
}

.policy {
  padding: 30px 0 40px;
  background: #f9f9f9;
  text-align: center
}

.policy dl {
  display: inline-block;
  padding-bottom: 30px
}

.policy dd {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #ddd
}

.policy dd.first {
  border: 0
}

#content {
  float: left;
  width: 837px;
  padding: 40px 40px 0 0
}

#content .v_list_tit h3 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -3px
}

#content .paging {
  padding: 50px 0
}

#aside {
  float: left;
  width: 293px;
  padding: 40px 0 28px 40px
}

#popup {
  display: none
}

#popup .ct {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 667px;
  height: 500px;
  margin: -250px 0 0 -333px;
  border: 1px solid #000;
  z-index: 10004
}

#popup .ct .btn_goto {
  display: block;
  position: relative;
  width: 700px;
  height: 530px;
  font-size: 0;
  line-height: 0;
  z-index: 10001
}

#popup .ct .btn_close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 61px;
  height: 61px;
  background-position: -239px -200px;
  z-index: 10002
}

#popup .ct label {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #444;
  z-index: 10003
}

.app-title {
  color: #09daf2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-weight: bold;
}