.help_tabs{margin-bottom:30px}
.help_tabs li{float:left;width:50%}
.help_tabs a{display:block;height:38px;margin-left:-1px;border:1px solid #d6d6d6;background:#fff;font-size:16px;text-align:center;line-height:40px;letter-spacing:-1px}
.help_tabs a:hover{text-decoration:none}
.help_tabs a.on{position:relative;border-color:#3865cd;background:#5284ec;color:#fff}

.help_tit{overflow:hidden;position:relative;height:40px}
.help_tit h3{font-size:30px;font-weight:normal;letter-spacing:-3px}
.help_tit p{position:absolute;right:0;bottom:0;color:#999;letter-spacing:-1px}

.notice_list{width:100%;margin-top:15px;table-layout:fixed}
.notice_list th{height:40px;border:1px solid #efefef;border-left:0;background-color:#f9f9f9;font-weight:normal;color:#888}
.notice_list th:first-child{border-left:1px solid #efefef}
.notice_list td{height:39px;border-bottom:1px solid #efefef;border-left:1px solid #efefef;text-align:center}
.notice_list td.tl{overflow:hidden;padding:0 15px;font-size:14px;text-align:left;white-space:nowrap;text-overflow:ellipsis;letter-spacing:-1px}
.notice_list td:first-child{border-left:0}
.notice_list td span{display:inline-block;width:80px;height:20px;border-radius:5px;color:#fff;text-align:center;line-height:19px;letter-spacing:-1px}
.notice_list td span.wait{background:#999}
.notice_list td span.over{background:#00c73c}
.notice_tit{margin-top:20px;padding:20px;border-top:1px solid #e6e6e6;border-bottom:1px solid #f5f5f5}
.notice_tit h4{overflow:hidden;font-size:20px;font-weight:normal;letter-spacing:-2px;white-space:nowrap;text-overflow:ellipsis}
.notice_tit p{margin-top:8px;color:#999}
.notice_tit.qna{border-bottom:0}
.notice_tit.qna p{margin:8px 0 15px}
.notice_ct{overflow:hidden;padding:30px 20px 0 20px;word-break:break-all;word-wrap:break-word}
.notice_ct p,.notice_tit.qna p{font-size:16px;line-height:28px !important;letter-spacing:-1px}
.notice_ct .sign{display:block;margin:50px 0;color:#999}
.notice_ct .sign em{margin:0 8px;font-style:normal}
.notice_btn{display:block;height:50px;margin:0 auto;border:1px solid #efefef;background:#f9f9f9;font-size:18px;letter-spacing:-2px;text-align:center;line-height:50px}
.notice_btn:hover{text-decoration:none}

.faq_list{margin-top:15px;border-top:1px solid #c3c4c8}
.faq_list>li{position:relative;border-bottom:1px solid #efefef}
.faq_list>li>a{overflow:hidden;position:relative;display:block;height:59px;padding-right:43px;font-size:16px;white-space:nowrap;text-overflow:ellipsis;line-height:59px;letter-spacing:-1px}
.faq_list>li>a i{position:absolute;top:26px;right:15px;width:13px;height:8px;background-position:-215px -20px}
.faq_list>li div{display:none;padding-bottom:40px;font-size:16px;line-height:28px !important;letter-spacing:-1px}
.faq_list>li div a{color:#5284ec;text-decoration:underline}
.faq_list>li div ul,.faq_list>li div ol{padding-left:20px}
.faq_list>li div ul li{list-style:disc}
.faq_list>li div ol li{list-style:decimal}
.faq_list>li.on>a{height:110px;font-size:32px;color:#2282f9;line-height:110px;letter-spacing:-2px;cursor:auto}
.faq_list>li.on>a:hover{text-decoration:none}
.faq_list>li.on>a i{top:51px;background-position:-215px -28px}
.faq_list>li.on div{display:block}
.faq_list>li:last-child{border-color:#c3c4c8}

.qna_form{margin-top:15px;border:1px solid #c9ccce}
.qna_form input[type=text]{width:805px;height:25px;padding:12px 15px;border:0;border-bottom:1px solid #e6e6e6;background:#fff;font-size:12pt;line-height:25px;vertical-align:top;outline:none}
.qna_form textarea{width:805px;height:140px;padding:12px 15px;border:0;background:#fff;font-size:12pt;line-height:28px;resize:none;outline:none}
.qna_form div{height:50px;border-top:1px solid #e6e6e6;background:#f9f9f9;color:#999;text-align:right;line-height:50px}
.qna_form p{display:inline-block;vertical-align:top}
.qna_form label{height:20px;margin-left:10px;color:#999}
.qna_form input[type=radio]{width:20px;height:20px;margin:-3px 3px 0 0;vertical-align:middle}
.qna_form button{position:relative;width:150px;height:52px;margin:-1px -1px 0 20px;background:#5284ec;font-size:18px;color:#fff;letter-spacing:-2px;cursor:pointer}
.qna_form:hover{border-color:#5284ec}

.qna_list_tit{margin-top:38px;font-weight:normal;font-size:18px;color:#151515;letter-spacing:-2px}
.qna_answer{position:relative;padding:20px 20px 16px 20px;border-radius:20px;background:#f9f9f9}
.qna_answer sup{display:block;position:absolute;top:0;left:0;height:20px;padding:0 8px;background:#5284ec;color:#fff;line-height:20px}
.qna_answer p{font-size:16px;line-height:28px;word-break:break-all;word-wrap:break-word;letter-spacing:-1px}
.qna_answer p.wait{height:100px;color:#999;text-align:center;line-height:100px}
.qna_answer em{float:right;font-size:12px}
.qna_btn{display:block;width:120px;height:50px;margin:40px auto 0;border:1px solid #efefef;font-size:18px;letter-spacing:-2px;text-align:center;line-height:50px}
.qna_btn:hover{text-decoration:none}

.about_wrap{margin:-40px 0 40px;background:url(../img/frontend/pc/bg_about.jpg) no-repeat 100% 0}
.about_header{position:relative;height:124px;margin-bottom:40px}
.about_header h2{position:absolute;left:0;bottom:0;background:url(../img/frontend/pc/sp_h2_about.png) no-repeat;font-size:0;line-height:0}
.about_header h2.about{width:362px;height:80px}
.about_header h2.terms{width:377px;height:74px;background-position:0 -150px}
.about_header h2.privacy{width:372px;height:85px;background-position:0 -250px}
.about_header h2.feedback{width:382px;height:70px;background-position:0 -350px}
.about_header h2.copyright{width:364px;height:92px;background-position:0 -600px}
.g_intro{padding-right:10px;font-size:13px;line-height:1.7}
.g_intro h3{margin:23px 0 5px;font-size:13px;color:#333}
.g_intro h3 a:hover{text-decoration:none}
.g_intro ol,.g_intro ul{padding-left:20px}
.g_intro ol li{list-style-type:decimal}
.g_intro ul li{list-style-type:disc}
.g_intro .zh_CN,.g_intro .email{font-family:Microsoft YaHei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,Helvetica,"Apple SD Gothic Neo",sans-serif}
.g_intro .email{font-size:16px;color:#999}
.g_intro .hr{overflow:visible;width:730px;height:1px;margin:30px 0;background:#d7d7d7}
.about_why{width:165px;height:22px;margin:40px 0 10px;background:url(../img/frontend/pc/sp_h2_about.png) no-repeat 0 -100px;font-size:0;line-height:0}
.logo_box{width:250px;margin:30px 30px 30px 0;padding:15px;background-color:#f5f5f5;text-align:center}
.logo_box:hover{background-color:#eee}
.logo_box img{margin-bottom:10px}
.logo_box p{font-size:11px;font-family:'Lucida Grande','Lucida Sans Unicode','ë‹ì›€',Dotum,Helvetica,Arial,Verdana,sans-serif;color:#999}
.terms_dl{padding:15px 0;border:1px solid #eee;border-left:0;border-right:0}
.terms_dl dl,.terms_dl dt,.terms_dl dd{float:left}
.terms_dl dt,.terms_dl dd{height:24px;line-height:24px}
.terms_dl dl{width:418px}
.terms_dl dt{width:60px;padding-left:5px}
.terms_dl dd{width:353px}
.terms_dl dd a{font-weight:bold;color:#5f86d4}

.bz_container{position:relative}
.bz_container .w980{width:980px;margin:0 auto;background:none !important}
.bz_top{height:300px;background:#5da5cd;}
.bz_top h1{float:right;width:381px;height:123px;margin-top:88px;background:url(../img/frontend/pc/sp_bz.png) no-repeat;font-size:0;line-height:0}
.bz_intro{height:200px;padding:50px 0;background:#ff7c52;font-size:14px;font-weight:bold;color:#fff;line-height:20px;letter-spacing:-1px}
.bz_intro.v2{background:#79919d}
.bz_intro p,.bz_intro.v2 img{float:left;padding:0 0 0 50px}
.bz_intro span{font-size:12px;font-weight:normal;color:#eee;line-height:18px;letter-spacing:0}
.bz_intro img{float:right;padding:0 93px 0 0}
.bz_intro.v2 p{float:left;padding-left:81px}
.bz_product{width:980px;margin:0 auto;padding:50px 0 14px;border-top:1px solid #d7d7d7;text-align:center}
.bz_product:first-child{border-top:0}
.bz_product h2,.bz_step h2{display:inline-block;height:45px;background:url(../img/frontend/pc/sp_bz.png) no-repeat;font-size:0;line-height:0}
.bz_product h2.t1{width:237px;background-position:0 -150px}
.bz_product h2.t2{width:240px;background-position:0 -210px}
.bz_product h2.t3{width:198px;background-position:0 -270px}
.bz_product p{padding:25px 0 10px;font-size:14px;color:#888;line-height:24px;letter-spacing:-1px}
.bz_product strong{color:#dd0e14;text-decoration:underline}
.bz_step{background:#f0f0f0;padding:50px 0;text-align:center}
.bz_step h2{width:245px;background-position:0 -330px}
.bz_step ol{width:980px;margin:30px auto 0 auto}
.bz_step li{float:left;width:245px;height:210px;background:url(../img/frontend/pc/bz_step_arr.png) no-repeat;text-align:center}
.bz_step li:first-child{background:none}
.bz_step li strong{display:block;margin:25px 0 10px;font-size:18px;letter-spacing:-1px}
.bz_step li p{color:#888;line-height:18px;letter-spacing:-1px}
.bz_contact{position:fixed;top:160px;right:15px;width:150px;padding:15px;border:1px solid #000;border-radius:2px;background:rgba(0,0,0,.7);font-size:14px;color:#fff}
.bz_contact h2{padding-bottom:5px;font-weight:normal;font-size:16px;text-align:center;letter-spacing:-1px}
.bz_contact ul{margin-top:12px}
.bz_contact li{height:20px;padding-left:25px;background:url(../img/frontend/pc/sp_biz.png) no-repeat;color:#eee;line-height:20px}
.bz_contact li a{color:#eee}
.bz_contact li.a1{margin-bottom:8px}
.bz_contact li.a2{margin-bottom:8px;background-position:0 -24px}
.bz_contact li.a3{background-position:0 -48px}
.bz_contact li.b1{background-position:0 -120px}
.bz_contact li.b2{background-position:0 -160px}
.bz_contact li.b3{background-position:0 -200px}
.bz_contact li.b4{background-position:0 -240px}
.bz_contact p{margin-top:8px}
.bz_note{position:relative;left:50px;width:980px;margin:50px auto}
.bz_note li{height:20px;padding-left:8px;background:url(../img/frontend/pc/sp.png) no-repeat -255px -41px;color:#999;line-height:20px}