.login_wrap{position:relative;height:600px;background:url(https://x.ggcdn.co/img/frontend/pc/bg_login.jpg) no-repeat 50% 0}
.login_wrap .k_login{float:left;display:block;width:580px;height:600px;font-size:0;line-height:0}
.login_form{float:right;position:relative;width:340px;height:480px;margin-top:30px;padding:30px;background:rgba(255,255,255,.9);filter:alpha(opacity=90)}
.login_form div{position:relative;margin-bottom:15px}
.login_form label{position:absolute;top:1px;left:1px;width:48px;height:48px;background:#ddd;text-align:center}
.login_form label i{width:23px;height:23px;margin-top:13px;background-position:0 -140px;vertical-align:top}
.login_form label.upw i{background-position:-23px -140px}
.login_form label.upc i{background-position:-46px -140px}
.login_form label.def{position:static;width:auto;height:16px;background:none;line-height:16px;vertical-align:top}
.login_form input.input_txt{width:264px;height:18px;padding:15px 12px 15px 62px;border:1px solid #ddd;font-size:14px;line-height:18px;outline:none}
.login_form input#user_ct{width:158px;padding-right:118px}
.login_form img{position:absolute;top:5px;right:5px;cursor:pointer}
.login_form button{width:340px;height:50px;margin-bottom:15px;background:#5284ec;font-size:18px;color:#fff;letter-spacing:-2px;cursor:pointer}
.login_form p{height:20px;font-size:14px;color:#999;text-align:center;line-height:20px}
.login_form p span{margin:0 12px;color:#ccc}
.login_form .alert label{background:#f5cfcf}
.login_form .alert .input_txt{border-color:#e4393c}
.login_form .alert span{position:absolute;top:1px;left:63px;width:272px;height:48px;background:#fff;font-size:14px;color:#e4393c;line-height:48px}
.login_form .social{position:absolute;right:30px;bottom:20px;left:30px;width:340px;margin:0;padding-top:10px;border-top:1px solid #e6e6e6;font-size:0;text-align:center}
.login_form .social legend{display:block;font-size:14px;color:#bbb}
.login_form .social a{width:40px;height:40px;margin-left:30px;background-position:-69px -140px}
.login_form .social a.qq{margin:0}
.login_form .social a.qq:hover{background-position:-109px -140px}
.login_form .social a.wx{background-position:-149px -140px}
.login_form .social a.wx:hover{background-position:-189px -140px}

body.reg{min-height:100%;background:#ececee}
.reg_wrap{width:700px;margin:0 auto;background:#fff;text-align:center}
.reg_header h1{float:none;width:50px;height:50px;margin:0;background-position:-230px -140px}
.reg_header h1 a{width:50px;height:50px}
.reg_header h2{margin:40px 0;font-weight:500;font-size:30px;letter-spacing:-2px}
.reg_content{padding-bottom:50px}
.reg_content .msg{width:450px;margin:0 auto;padding-top:50px;border-top:1px solid #e6e6e6;font-size:14px}
.reg_content .msg strong{color:#151515}
.reg_content .msg a{display:block;margin:50px 0 0!important;line-height:50px;text-decoration:none;vertical-align:top}
.reg_content .msg a.half{display:inline-block;width:225px}
.reg_content .msg a.half.last{width:223px;height:48px;margin-right:-1px;border:1px solid #e6e6e6;background:#fff;color:#444}
.reg_form div{position:relative;width:450px;height:50px;margin:0 auto 15px}
.reg_form label{display:block;position:absolute;top:10px;left:12px;width:92px;height:28px;border-right:1px solid #e6e6e6;background:#fff;line-height:28px;text-align:left;letter-spacing:-1px}
.reg_form input{width:319px;height:18px;padding:15px 12px 15px 117px;border:1px solid #ddd;font-size:14px;line-height:18px;outline:none}
.reg_form input:focus{border-color:#5284ec}
.reg_form img,.reg_form .btn_code{position:absolute;top:5px;right:5px;border-radius:2px;cursor:pointer}
.reg_form img,.reg_form .wating_span{position:absolute;top:5px;right:5px;border-radius:2px;cursor:pointer}
.reg_form .btn_code{display:block;width:100px;height:40px;background:#818ca3;color:#fff;line-height:40px;text-align:center}
.reg_form .wating_span{display:block;width:100px;height:40px;background:gray;color:#fff;line-height:40px;text-align:center}
.reg_form .btn_code:hover{text-decoration:none}
.reg_form .wating_span:hover{text-decoration:none}
.reg_form .captcha input{width:214px;padding:15px 117px}
.reg_form .alert input{border-color:#e4393c}
.reg_form .alert span{position:absolute;top:1px;left:117px;width:332px;height:48px;background:#fff;font-size:14px;color:#e4393c;line-height:48px;text-align:left}
.reg_form .captcha.alert span{width:224px}
.reg_form button,.reg_content .msg a{width:450px;height:50px;margin-bottom:50px;background:#5284ec;font-size:18px;color:#fff;letter-spacing:-2px;cursor:pointer}
.reg_form button.gray{width:450px;height:50px;margin-bottom:50px;background:gray;font-size:18px;color:#fff;letter-spacing:-2px;cursor:pointer}
.reg_form p{color:#999;letter-spacing:-1px}
.reg_form p a{color:#4988d3}
.reg_footer{background:#ececee}
.reg_footer .policy{background:none}

/*additional start*/
.bind_form div{position:relative;width:450px;height:50px;margin:0 auto 15px}
.bind_form label{display:block;position:absolute;top:10px;left:12px;width:92px;height:28px;border-right:1px solid #e6e6e6;background:#fff;line-height:28px;text-align:left;letter-spacing:-1px}
.bind_form input{width:319px;height:18px;padding:15px 12px 15px 117px;border:1px solid #ddd;font-size:14px;line-height:18px;outline:none}
.bind_form input:focus{border-color:#5284ec}
.bind_form img,.bind_form .btn_code{position:absolute;top:5px;right:5px;border-radius:2px;cursor:pointer}
.bind_form img,.bind_form .wating_span{position:absolute;top:5px;right:5px;border-radius:2px;cursor:pointer}
.bind_form .btn_code{display:block;width:100px;height:40px;background:#818ca3;color:#fff;line-height:40px;text-align:center}
.bind_form .wating_span{display:block;width:100px;height:40px;background:gray;color:#fff;line-height:40px;text-align:center}
.bind_form .btn_code:hover{text-decoration:none}
.bind_form .wating_span:hover{text-decoration:none}
.bind_form .captcha input{width:214px;padding:15px 117px}
.bind_form .alert1 input{border-color:#e4393c}
.bind_form .alert1 span{position:absolute;top:1px;left:117px;width:332px;height:48px;background:#fff;font-size:14px;color:#e4393c;line-height:48px;text-align:left}
.bind_form .captcha.alert1 span{width:224px}
.bind_form button,.reg_content .msg a{width:450px;height:50px;margin-bottom:50px;background:#5284ec;font-size:18px;color:#fff;letter-spacing:-2px;cursor:pointer}
.bind_form button.gray{width:450px;height:50px;margin-bottom:50px;background:gray;font-size:18px;color:#fff;letter-spacing:-2px;cursor:pointer}
.bind_form p{color:#999;letter-spacing:-1px}
.bind_form p a{color:#4988d3}
/*additional end*/

.chgPwd_form div{position:relative;width:450px;height:50px;margin:0 auto 15px}
.chgPwd_form label{display:block;position:absolute;top:10px;left:12px;width:92px;height:28px;border-right:1px solid #e6e6e6;background:#fff;line-height:28px;text-align:left;letter-spacing:-1px}
.chgPwd_form input{width:319px;height:18px;padding:15px 12px 15px 117px;border:1px solid #ddd;font-size:14px;line-height:18px;outline:none}
.chgPwd_form .alert input{border-color:#e4393c}
.chgPwd_form .alert span{position:absolute;top:1px;left:117px;width:332px;height:48px;background:#fff;font-size:14px;color:#e4393c;line-height:48px;text-align:left}
.chgPwd_form .captcha.alert span{width:224px}
.chgPwd_form button,.reg_content .msg a{width:450px;height:50px;margin-bottom:50px;background:#5284ec;font-size:18px;color:#fff;letter-spacing:-2px;cursor:pointer}

body.user{height:100%}
body.user .w{width:980px}
body.user #container .w{background:url(https://x.ggcdn.co/img/frontend/pc/bg_me.gif) repeat-y}
body.user #footer{margin:0}
body.user #footer .policy{background:none}
.user_aside{float:left;width:250px}
.user_avatar{padding:40px 0;border-bottom:1px solid #e6e6e6;text-align:center}
.user_avatar #side_avatar{width:160px;height:160px;margin:0 auto 15px;border-radius:50%;border:1px solid #e6e6e6}
.user_avatar #side_avatar img{margin-top:5px;border-radius:50%;vertical-align:top}
.user_avatar strong{font-size:18px;letter-spacing:-1px}
.user_snb a{display:block;position:relative;height:50px;border-bottom:1px solid #eee;font-size:14px;color:#777;line-height:50px}
.user_snb a:hover{color:#000;text-decoration:none}
.user_snb a.on{position:relative;margin-top:-1px;border-width:1px;border-style:solid;border-color:#e6e6e6;border-right:0;background:#fff;font-weight:bold;color:#151515;letter-spacing:-1px}
.user_snb a.on i{border:0}
.user_snb i{width:50px;height:50px;border-bottom:1px solid #f9f9f9;background-position:0 -190px;vertical-align:top}
.user_snb i.i2{background-position:-50px -190px}
.user_snb i.i3{background-position:-100px -190px}
.user_snb b{position:absolute;top:20px;right:15px;width:7px;height:11px;background-position:-255px -20px}
.user_snb li.last i{border:0}

.user_content{overflow:hidden;position:relative;float:left;width:630px;padding:50px}
.user_content h3{display:inline-block;padding-bottom:25px;font-weight:normal;font-size:18px;color:#151515;letter-spacing:-2px;}
.user_content .h3_msg{margin-left:10px;color:#999;letter-spacing:-1px}
.user_content dl{padding-bottom:15px;border-bottom:1px solid #f0f0f0;font-size:14px}
.user_content dt{float:left;width:165px;min-height:30px;margin-bottom:25px;color:#777;line-height:30px;text-align:left}
.user_content dd{position:relative;min-height:30px;margin:0 0 25px 100px;line-height:30px;text-align:left}
.user_content dd label{margin-right:10px}
.user_content dd input[type="text"]{width:288px;height:22px;padding:3px 5px;border-width:1px;border-style:solid;border-color:#c4c4c4 #eaeaea #eaeaea #c4c4c4;background:#fbfbfb;font-size:14px}
.user_content dd input[type="password"]{width:288px;height:22px;padding:3px 5px;border-width:1px;border-style:solid;border-color:#c4c4c4 #eaeaea #eaeaea #c4c4c4;background:#fbfbfb;font-size:14px}
/*addtional start*/
.user_content dd .captcha_img{position:absolute;top:2px;left:263px;height:26px;cursor:pointer;width:100px;}
.user_content dd .btn_code{position:absolute;top:2px;left:263px;height:26px;font-size:12px;color:white;background-color:#818ca3;border-radius:2px;cursor:pointer;width:100px;text-align:center;}
.user_content dd .wating_span{position:absolute;top:2px;left:263px;height:26px;font-size:12px;color:white;background-color:#818ca3;border-radius:2px;cursor:pointer;width:100px;text-align:center;}
.user_content dd .gray{position:absolute;top:2px;left:263px;height:26px;font-size:12px;color:gray;width:100px;text-align:center;}
.user_content dd .btn_code:hover{text-decoration:none}
.user_content button.gray{display:block;width:100px;height:40px;margin:50px auto 0;border-radius:2px;background:gray;font-size:15px;color:#fff;transition:background-color .2s ease;cursor:pointer}
/*addtional end*/
.user_content dd .chk{vertical-align:middle}
.user_content dd #uploadBtn{overflow:hidden;position:relative;width:298px;height:298px;border:1px solid #eaeaea;text-align:center}
.user_content dd #uploadBtn span{display:block;position:absolute;bottom:0;left:0;width:100%;height:30px;font-size:12px;line-height:30px;text-align:center}
.user_content dd #uploadBtn:hover{cursor:pointer}
.user_content dd #uploadBtn:hover span{display:block;position:absolute;top:0;left:0;width:298px;height:298px;background:rgba(0,0,0,.7);font-size:0;line-height:0;z-index:0}
.user_content dd #uploadBtn:hover i{position:absolute;top:50%;left:50%;width:48px;height:48px;margin:-24px 0 0 -24px;background-position:0 -240px;z-index:0}
.user_content dd .avatar_preview1{position:absolute;top:0;left:390px;width:98px;height:98px;border:1px solid #eaeaea;background:url(https://x.ggcdn.co/img/avatar/avatar_default.png) no-repeat;background-size:98px 98px}
.user_content dd .avatar_preview2{position:absolute;top:125px;left:390px;width:48px;height:48px;border:1px solid #eaeaea;background:url(https://x.ggcdn.co/img/avatar/avatar_default.png) no-repeat;background-size:48px 48px}
.user_content dd.alert input[type="password"]{border-color:#e4393c}
.user_content dd.alert input[type="text"]{border-color:#e4393c}
.user_content dd.alert span{position:absolute;top:5px;left:70px;width:288px;height:22px;background:#fff;font-size:14px;color:#e4393c;line-height:22px;text-align:left}
/*additional start*/
.user_content dd.alert1 input[type="password"]{border-color:#e4393c}
.user_content dd.alert1 input[type="text"]{border-color:#e4393c}
.user_content dd.alert1 span.alert_msg{position:absolute;top:5px;left:70px;width:288px;height:22px;background:#fff;font-size:14px;color:#e4393c;line-height:22px;text-align:left}
/*additional end*/
.user_content dd .avatar_msg{position:absolute;top:195px;left:390px;font-size:12px;color:#999;line-height:20px;letter-spacing:-1px}
.user_content button{display:block;width:100px;height:40px;margin:50px auto 0;border-radius:2px;background:#5284ec;font-size:15px;color:#fff;transition:background-color .2s ease;cursor:pointer}
.user_content button:hover{background:#3865cd}
.user_content form.tp2{margin-bottom:50px;padding-bottom:50px;border-bottom:1px solid #f0f0f0}
.user_content form.tp2 dl{padding:0;border:0}
.user_content form.tp2 button{margin:25px auto 0}
.user_content .sns_connect li{float:left;padding-right:25px;text-align:center;font-size:0;line-height:0}
.user_content .sns_connect li i{width:72px;height:72px;margin-bottom:12px}
.user_content .sns_connect li.qq i{background-position:0 -390px}
.user_content .sns_connect li.qq i.on{background-position:-72px -390px}
.user_content .sns_connect li.wechat i{background-position:-144px -390px}
.user_content .sns_connect li.wechat i.on{background-position:-216px -390px}
.user_content .sns_connect li span,.user_content .sns_connect li a{display:block;width:70px;height:22px;border-radius:2px;border-width:1px;border-style:solid;font-size:13px;text-align:cente;line-height:22px;letter-spacing:-1px}
.user_content .sns_connect li.qq span{border-color:#4a86f0;color:#4a86f0}
.user_content .sns_connect li.wechat span{border-color:#00c73c;color:#00c73c}
.user_content .sns_connect li a{border-color:#999;color:#999;transition:background-color .2s ease}
.user_content .sns_connect li a:hover{background:#999;color:#fff;text-decoration:none}

.user_service{margin-left:-15px}
.user_service li{float:left;overflow:hidden;position:relative;width:198px;margin:0 0 15px 15px;padding:15px 0;border-radius:10px;border-top-left-radius:0;border:1px solid #e0e0e0;text-align:center}
.user_service li sup{display:block;position:absolute;top:0;left:0;height:20px;padding:0 8px;font-style:normal;color:#fff;line-height:18px}
.user_service li strong{display:block;margin:20px 0;font-size:16px;white-space:nowrap;letter-spacing:-2px}
.user_service li span,.user_service li em{display:block;color:#999}
.user_service li.tp1{border-color:#2196f3}
.user_service li.tp1 sup{background:#2196f3}
.user_service li.tp1 strong{color:#2196f3}
.user_service li.tp2{border-color:#ff6709}
.user_service li.tp2 sup{background:#ff6709}
.user_service li.tp2 strong{color:#ff6709}
.user_service li.tp3{border-color:#8bc34a}
.user_service li.tp3 sup{background:#8bc34a}
.user_service li.tp3 strong{color:#8bc34a}
.user_service li.tp_buy{height:130px;padding:0;border-top-left-radius:10px}
.user_service li.tp_buy a{overflow:hidden;display:block;position:relative;height:56px;padding:37px 0;color:#ccc8c8;letter-spacing:-1px}
.user_service li.tp_buy a:hover{color:#898d9d;text-decoration:none}
.user_service li.tp_buy i{display:block;width:32px;height:32px;margin:0 auto 6px;background-position:-130px -243px}
.user_service li.tp_buy:hover{border-color:#898d9d}
.user_service li.tp_buy:hover i{background-position:-162px -243px}
.vline{height:1px;margin:35px 0 50px;background:#f0f0f0;font-size:0;line-height:0}

.user_paylist{width:100%;margin:0 0 25px -1px;border-left:2px solid #fff;text-align:center;table-layout:fixed}
.user_paylist tr:hover td{background:#f5f5f5}
.user_paylist th{height:30px;border-left:1px solid #efefef;border-bottom:1px solid #f1f1f1;background:#f9f9f9;font-weight:normal;color:#888;line-height:30px}
.user_paylist td{height:30px;border-left:1px solid #efefef;border-bottom:1px solid #efefef;line-height:30px}
.user_paylist td.success{color:#83c44e}
.user_paylist td.fail{color:#e4393c}

.user_paging{font-size:0;font-weight:bold;font-family:verdana,sans-serif;color:#151515;text-align:center}
.user_paging a,.user_paging strong{display:inline-block;height:28px;margin:0 2px;padding:0 8px;border:1px solid #fff;font-size:12px;letter-spacing:-1px;line-height:28px}
.user_paging a:hover{border-color:#e9e9e9;text-decoration:none}
.user_paging strong{border-color:#e9e9e9;background:#f9f9f9;color:#f23219}
.user_paging span{padding:0 2px;font-size:12px;font-weight:normal}

.vip_header{position:relative;width:100%;height:450px;background:#b6a0e2 url(https://x.ggcdn.co/img/frontend/pc/bg_vip_header.png) no-repeat 50% 0;text-align:center}
.vip_header h2{padding-top:90px;font-size:50px;font-weight:normal;color:#fff;line-height:60px;letter-spacing:-4px}
.vip_header strong{display:inline-block;margin-top:25px;font-size:24px;font-weight:normal;color:#002942;letter-spacing:-2px}
.vip_header p{margin-top:10px;font-size:16px;color:#000;line-height:25px;opacity:.7;letter-spacing:-1px}
.vip_intro,.vip_item ul{width:980px;margin:0 auto}
.vip_intro li{float:left;width:276px;height:220px;padding:50px 25px;border-left:1px solid #e6e6e6;text-align:center}
.vip_intro li i{width:72px;height:72px}
.vip_intro li i.ico_rocket{background-position:0 -300px}
.vip_intro li i.ico_hd{background-position:-72px -300px}
.vip_intro li i.ico_program{background-position:-144px -300px}
.vip_intro li span{display:block;margin-top:20px;font-size:18px;color:#5284ec;letter-spacing:-2px}
.vip_intro li p{margin:8px 0;font-size:15px;color:#888;line-height:22px;letter-spacing:-1px}
.vip_intro li a{color:#151515;letter-spacing:-1px}
.vip_intro li:first-child{border:0}
.vip_item{padding:50px 0;background:#f2f2f6;text-align:center}
.vip_item h3,.vip_guide dt{margin-bottom:25px;font-size:24px;font-weight:normal;color:#002942;letter-spacing:-2px}
.vip_item ul{background:none}
.vip_item li{float:left;position:relative;width:310px;margin-left:25px;padding-bottom:30px;background:#fff;text-align:center;transition:all .2s linear;letter-spacing:-1px}
.vip_item li sup{display:inline-block;height:20px;padding:0 5px;background:#5284ec;color:#fff;line-height:20px}
.vip_item li strong{display:block;padding:25px 0;font-size:52px;font-weight:normal;color:#5284ec;letter-spacing:-3px}
.vip_item li p{display:block;margin-bottom:20px;padding-left:55px;font-size:13px;color:#b0b0b0;text-align:left}
.vip_item li cite{display:block;margin-bottom:20px;font-style:normal;font-size:18px;color:#ea003d}
.vip_item li cite del{color:#b0b0b0}
.vip_item li cite sub{display:block;font-size:12px;color:#e0e0e0}
/*???????*/
.vip_item li a.alipay{display:inline-block;width:98px;height:34px;border-radius:18px;border:1px solid #148bc7;background:#fff;font-size:14px;color:#15a0e4;line-height:34px;transition:all .4s}
.vip_item li a.alipay:hover{background:#15a0e4;color:#fff;text-decoration:none}
.vip_item li a.wechatpay{display:inline-block;width:98px;height:34px;border-radius:18px;border:1px solid #43b549;background:#fff;font-size:14px;color:#43b549;line-height:34px;transition:all .4s}
.vip_item li a.wechatpay:hover{background:#43b549;color:#fff;text-decoration:none}
/*???????*/
.vip_item li a{display:inline-block;width:98px;height:34px;border-radius:18px;border:1px solid #ea003d;background:#fff;font-size:14px;color:#ea003d;line-height:34px;transition:all .4s}
.vip_item li a:hover{background:#ea003d;color:#fff;text-decoration:none}
.vip_item li:hover{box-shadow:0 15px 30px rgba(0,0,0,.1);transform:translate3d(0,-2px,0)}
.vip_item li:first-child{margin:0}
.vip_guide{padding:50px 0}
.vip_guide dl{background:none!important;text-align:center}
.vip_guide dd{padding-left:7px;background:url(https://x.ggcdn.co/img/frontend/pc/sp.png?ver=171230) no-repeat -255px -39px;font-size:14px;color:#666;text-align:left;line-height:25px;letter-spacing:-1px}
.vip_guide dd a{font-weight:bold;text-decoration:underline}
.vip_guide dd a i{width:4px;height:8px;margin:-1px 0 0 4px;background-position:-205px -20px}

.vip_payredirect{padding:140px 0;text-align:center}
.vip_payredirect .waiting .ico_loading{width:66px;height:73px;margin-bottom:5px;background-position:-220px -300px}
.vip_payredirect .waiting span{font-size:16px}
.vip_payredirect .waiting strong{display:block;margin-bottom:8px;font-size:18px;font-weight:normal;color:#898d9d;letter-spacing:-2px}
.vip_payredirect .alert{display:inline-block;margin-top:150px;padding:8px 10px;border-radius:2px;border:1px solid #dad6ba;background:#fffce2;font-size:13px;line-height:20px;letter-spacing:-1px}