@charset "utf-8";
.v_slide,
.v_slide .slidesjs-container,
.v_slide .slidesjs-control {
  overflow: hidden;
  position: relative;
  height: 400px !important;
  background: #e9ecef
}

.v_slide .w {
  left: 50% !important;
  width: 1210px;
  margin-left: -605px
}

.v_slide span {
  display: block;
  width: 100%;
  height: 400px
}

.v_slide .slidesjs-navigation {
  display: block;
  position: absolute;
  top: 50%;
  width: 29px;
  height: 53px;
  margin: -26px 0 0 0;
  background: url(../img/frontend/pc/sp.png) no-repeat;
  opacity: .3;
  filter: alpha(opacity=30);
  font-size: 0;
  line-height: 0;
  z-index: 50
}

.v_slide .slidesjs-navigation:hover {
  opacity: 1;
  filter: alpha(opacity=100)
}

.v_slide .slidesjs-previous {
  left: 50%;
  margin-left: -674px;
  background-position: 0 -82px
}

.v_slide .slidesjs-next {
  right: 50%;
  margin-right: -674px;
  background-position: -29px -82px
}

.v_slide .slidesjs-pagination {
  position: absolute;
  bottom: 14px;
  left: 50%;
  width: 132px;
  height: 12px;
  margin-left: -66px;
  z-index: 50
}

.v_slide .slidesjs-pagination li {
  float: left;
  margin: 0
}

.v_slide .slidesjs-pagination a {
  overflow: hidden;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, .3);
  border-radius: 10px;
  text-align: left;
  text-indent: -9999px;
  background: #f5f5f5;
  background: rgba(0, 0, 0, .4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66000000", endColorstr="#66000000")\9;
  -webkit-transition: all .2s;
  transition: all .2s;
  _zoom: 1
}

.v_slide .slidesjs-pagination a:hover,
.v_slide .slidesjs-pagination a.active {
  border-color: #757575;
  border-color: rgba(0, 0, 0, .4);
  background: #fff;
  background: rgba(255, 255, 255, .4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66ffffff", endColorstr="#66ffffff")\9
}

.v_main {
  position: relative;
  padding-top: 35px;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
  width: 1158px;
  height: 280px;
  border: solid #234 1px;
  overflow-y: scroll;
}

.v_main h3 {
  display: inline-block;
  position: relative;
  font-size: 24px;
  letter-spacing: -1px;
  z-index: 10
}

.v_main .v_list {
  margin-top: 5px;
}

.v_main .btn_more {
  position: absolute;
  top: 33px;
  right: 0;
  height: 28px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
  color: #000;
  line-height: 28px
}

.v_main .btn_more i {
  width: 4px;
  height: 8px;
  margin-top: 10px;
  background-position: -205px -20px;
  vertical-align: top
}

.v_main .btn_more:hover {
  text-decoration: none
}

.v_tit {
  overflow: hidden;
  position: relative;
  height: 32px;
  line-height: 32px
}

.v_tit_btn {
  position: absolute;
  top: 2px;
  right: 0;
  height: 29px
}

.v_tit_btn strong {
  display: inline-block;
  height: 29px;
  margin: -1px 4px 0 0;
  font-weight: normal;
  font-size: 14px;
  font-family: tahoma, arial, sans-serif;
  color: #2b3b56;
  line-height: 29px;
  vertical-align: top
}

.v_tit_btn strong span {
  color: #262626
}

.v_tit_btn a {
  width: 28px;
  height: 29px;
  background-position: -129px -39px;
  vertical-align: top
}

.v_tit_btn a.next {
  width: 29px;
  background-position: -157px -39px
}

.v_tit_btn a.prev:hover {
  background-position: -186px -39px
}

.v_tit_btn a.next:hover {
  background-position: -214px -39px
}

.v_sort {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  text-align: center
}

.v_sort ul {
  display: inline-block
}

.v_sort li {
  float: left;
  height: 32px;
  margin-left: 20px;
  line-height: 32px
}

.v_sort li a {
  font-size: 14px;
  color: #090909
}

.v_sort li a:hover,
.v_sort li a.on {
  text-decoration: none
}

.v_sort li a.on {
  color: #5284ec
}

.v_sort li a i {
  width: 15px;
  height: 11px;
  background-position: -185px -20px
}

.v_sort li a.on i {
  background-position: -170px -20px
}

.v_sort li:first-child {
  margin: 0
}

.v_list {
  width: 1135px;
  margin-left: 5px
}

.v_list:after {
  display: block;
  clear: both;
  content: ''
}

.v_list li {
  float: left;
  position: relative;
  width: 185px;
  margin-left: 20px;
  padding-bottom: 45px;
  text-align: center;
  height: 100px;
}

.v_list li a span {
  overflow: hidden;
  display: block;
  width: 185px;
  height: 100px;
}

.v_list li strong {
  color:#2b3b56;
  overflow: hidden;
  display: block;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: -1px;
  white-space: nowrap;
  text-overflow: ellipsis
}

.v_list li cite {
  overflow: hidden;
  position: absolute;
  top: 140px;
  left: 0;
  width: 175px;
  height: 35px;
  padding: 89px 5px 0;
  /* background: url(../img/frontend/pc/bg_cite.png) repeat-x 0 62px; */
  font-style: normal;
  font-size: 14px;
  color: #fff;
  line-height: 35px;
  white-space: nowrap;
  text-overflow: ellipsis
}

.v_list li b,
.v_detail .score span,
.v_list2 li b {
  position: relative;
  width: 117px;
  height: 20px;
  margin-right: 7px;
  background-position: -60px -82px;
  z-index: 0;
  vertical-align: top
}

.v_list li b.range,
.v_detail .score span.range,
.v_list2 li b.range {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-position: -60px -102px;
  z-index: 1
}

.v_list li em {
  display: inline-block;
  height: 20px;
  font-size: 22px;
  color: #fff;
  vertical-align: top;
  line-height: 20px
}

.v_list li span {
  color: #898d9d
}

.v_list li img {
  background-color: white;
  display: block;
  transition: -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
  transition: transform .2s cubic-bezier(.165, .84, .44, 1);
  transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1)
}

.v_list li a:hover img {
  transition-duration: .9s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05)
}

.v_list li a:hover strong {
  text-decoration: underline
}

.v_list li i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 183px;
  height: 100px;
  border: 1px solid #000;
  opacity: .08;
  filter: alpha(opacity=8)
}

.v_list li mark {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 40px;
  height: 40px;
  background: rgba(255, 70, 68, .95);
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 38px
}

.v_list li mark.vip {
  top: 5px;
  right: 5px;
  left: inherit;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background: rgba(0, 199, 60, .95) !important;
  line-height: 35px
}

.v_list li.noresult {
  width: 100%;
  height: 317px;
  font-size: 13px;
  color: #999;
  text-align: center;
  line-height: 317px
}

.vids-wrap {
  /* position: relative;
  overflow-wrap: inherit; */
}

.v_sub_top {
  background: #e9ecef
}

.v_sub_top .k_599x125 {
  padding: 0 0 12px
}

/*added*/

.v_fav_top {
  background: #e9ecef
}

.v_fav_top .k_599x125 {
  padding: 0 0 12px
}

/*added*/

.v_filter {
  padding-top: 33px
}

.v_list_tit {
  height: 50px;
  border-bottom: 1px solid #e6e6e6
}

.v_list_tit h3 {
  float: left;
  height: 30px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #000;
  letter-spacing: -1px;
  line-height: 30px
}

.v_list_tit p {
  float: left;
  height: 20px;
  margin: 10px 0 0 20px;
  line-height: 20px;
  vertical-align: middle
}

.v_list_tit p span {
  display: inline-block;
  position: relative;
  height: 18px;
  margin-right: 5px;
  padding: 0 21px 0 3px;
  border: 1px solid #dedede;
  color: #787878;
  line-height: 18px;
  vertical-align: baseline
}

.v_list_tit p span:hover {
  border-color: #5284ec;
  color: #3865cd
}

.v_list_tit p span:hover a {
  background-color: #5284ec;
  background-position: -195px -140px
}

.v_list_tit p strong {
  color: #ff7800;
}

.v_list_tit p a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background: url(../img/frontend/pc/sp_v.png) no-repeat -180px -140px;
  font-size: 0;
  line-height: 0
}

.v_list_tit ul {
  float: right
}

.v_list_tit ul li {
  float: left;
  margin-left: 20px
}

.v_list_tit ul li:first-child {
  margin: 0
}

.v_list_tit ul a {
  display: block;
  position: relative;
  height: 50px;
  font-size: 14px;
  line-height: 50px
}

.v_list_tit ul a:hover {
  text-decoration: none
}

.v_list_tit ul a.on {
  color: #ff7800
}

.v_list_tit ul a.on i {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ff7800;
  font-size: 0;
  line-height: 0
}

.v_list_tit:after {
  display: block;
  clear: both;
  content: ''
}

.v_tag {
  position: relative;
  padding: 20px 0 25px;
  font-size: 14px
}

.v_tag:after {
  display: block;
  clear: both;
  content: ''
}

.v_tag dt {
  float: left;
  font-weight: bold;
  text-align: center
}

.v_tag dd {
  position: relative;
  margin-left: 80px;
  padding-bottom: 15px;
  font-size: 0
}

.v_tag dd a {
  display: inline-block;
  height: 25px;
  margin-right: 9px;
  padding: 0 8px;
  font-size: 14px;
  line-height: 24px
}

.v_tag dd a:hover,
.v_tag dd a.on {
  border-radius: 20px;
  background: #ff7800;
  color: #fff;
  text-decoration: none
}

.v_tag dd p {
  display: none;
  margin-top: 5px
}

.v_tag dd button {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  padding: 0 10px;
  border: 1px solid #dedede;
  border-radius: 1px;
  background: #fff;
  color: #343434;
  line-height: 25px;
  cursor: pointer;
  outline: none
}

.v_tag dd button i {
  width: 13px;
  height: 8px;
  margin: 8px 4px 0 0;
  background-position: -215px -20px;
  vertical-align: top
}

.v_tag dd button.on i {
  background-position: -215px -28px
}

.v_playingwrap {
  /* background: #343434 */
  background-color: white;
}

.v_playingwrap .k_599x125 {
  height: 150px;
  padding: 0
}

.v_playingwrap.wide {
  background: #252525
}

.v_playing {
  position: relative;
  background: #252525;
  width: 1160px;
}

.v_player {
  position: relative;
  width: 854px;
  height: 561px;
  background: #000;
  font-size: 0;
  line-height: 0
}

.v_player iframe {
  width: 100%;
  height: 521px
}

.v_playerguide {
  overflow: visible;
  position: relative;
  height: 39px;
  padding: 0 10px;
  border-top: 1px solid #1b1b1b;
  background: #252525;
  font-size: 12px;
  color: #fff;
  line-height: 38px
}

.v_playerguide .btn_wide {
  height: 22px;
  background: transparent;
  font-size: 13px;
  color: #fff;
  line-height: 22px;
  cursor: pointer;
  outline: none
}

.v_playerguide .btn_wide i {
  width: 19px;
  height: 14px;
  margin: -1px 3px 0 0;
  background-position: -260px -82px;
  vertical-align: middle
}

.v_playerguide .btn_wide:hover,
.v_playerguide .btn_wide.on {
  color: #5284ec
}

.v_playerguide .btn_wide:hover i,
.v_playerguide .btn_wide.on i {
  background-position: -279px -82px
}

.v_playerguide .help {
  float: right;
  color: #999
}

.v_playerguide .help .sp {
  width: 14px;
  height: 14px;
  background-position: -110px -243px;
  margin-top: -3px;
  vertical-align: middle
}

.v_playerguide .v_playerhelp {
  display: none;
  position: absolute;
  top: 30px;
  right: 10px;
  padding: 15px 30px 15px 15px;
  border: 1px solid #1b1b1b;
  background: #fff;
  color: #666;
  letter-spacing: -1px;
  z-index: 200
}

.v_playerguide .v_playerhelp li {
  height: 18px;
  padding-left: 8px;
  background: url(../img/frontend/pc/sp.png) no-repeat -255px -42px;
  line-height: 18px
}

.v_playerguide .v_playerhelp li span,
.v_playerguide .v_playerhelp li a {
  color: #5284ec
}

.v_playerguide .v_playerhelp .sp {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 19px;
  height: 19px;
  background-position: -280px -262px
}

.v_playlist {
  position: absolute;
  top: 0;
  right: 0;
  width: 305px;
  border-left: 1px solid #1b1b1b;
  color: #999;
  text-align: center;
  z-index: 1
}

.v_playlist h5 {
  display: block;
  height: 40px;
  border-bottom: 1px solid #1b1b1b;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px
}

.v_playlist li {
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 38px;
  zoom: 1
}

.v_playlist li span {
  overflow: hidden;
  float: left;
  max-width: 210px;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis
}

.v_playlist li p {
  float: right;
  max-width: 114px;
  height: 32px;
  padding: 4px 0;
  font-size: 0
}

.v_playlist li button {
  width: 32px;
  height: 32px;
  margin-left: 6px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  background: transparent;
  font-size: 16px;
  font-family: Microsoft YaHei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, Helvetica, "Apple SD Gothic Neo", sans-serif;
  line-height: 30px;
  letter-spacing: -1px;
  cursor: pointer;
  outline: none
}

.v_playlist li button.youku,
.v_playlist li button.yookoo {
  border-color: #2eb3ff;
  color: #2eb3ff
}

.v_playlist li button.youku.on,
.v_playlist li button.yookoo.on {
  background: #2eb3ff;
  color: #fff
}

.v_playlist li button.qq {
  border-color: #0072ab;
  color: #0072ab
}

.v_playlist li button.qq.on {
  background: #0072ab;
  color: #fff
}

.v_playlist li button.qiyi {
  border-color: #20bd22;
  color: #20bd22
}

.v_playlist li button.qiyi.on {
  background: #20bd22;
  color: #fff
}

.v_playlist li button.tudou {
  border-color: #f60;
  color: #f60
}

.v_playlist li button.tudou.on {
  background: #f60;
  color: #fff
}

.v_playlist li button.hls {
  border-color: #999;
  color: #999
}

.v_playlist li button.hls.on {
  background: #999;
  color: #000
}

.v_playlist li button.vip {
  border-color: #00c73c;
  color: #00c73c
}

.v_playlist li button.vip.on {
  background: #00c73c;
  color: #fff
}

.v_playlist li.youku span,
.v_playlist li.yookoo span {
  color: #2eb3ff
}

.v_playlist li.qq span {
  color: #0072ab
}

.v_playlist li.qiyi span {
  color: #20bd22
}

.v_playlist li.tudou span {
  color: #f60
}

.v_playlist li.hls span {
  color: #999
}

.v_playlist li.on {
  background: #151515
}

.v_playlist li.on span {
  font-weight: bold
}

.v_playlist li:hover {
  background: #1b1b1b
}

.v_playlist li:after {
  display: block;
  clear: both;
  content: ''
}

.v_detail {
  position: relative;
  width: 854px;
  padding: 40px 0 30px;
  border-bottom: 1px solid #e6e6e6
}

.v_detail .poster {
  float: left;
  position: relative;
  width: 200px;
  height: 285px;
  margin-right: 30px
}

.v_detail .poster i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 283px;
  border: 1px solid #000;
  opacity: .08;
  filter: alpha(opacity=8)
}

.v_detail .info {
  float: left;
  width: 624px
}

.v_detail .info h3,
.v_comment h3 {
  font-weight: 500;
  font-size: 30px;
  color: #151515;
  letter-spacing: -2px
}

.v_detail .info h3 {
  margin-right: 212px
}

.v_detail .aka {
  padding-bottom: 4px;
  font-weight: bold;
  color: #767676
}

.v_detail .score {
  display: inline-block;
  height: 20px;
  margin: 13px 0 -3px;
  padding: 10px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  line-height: 20px;
  vertical-align: top
}

.v_detail .score span {
  vertical-align: inherit
}

.v_detail .score b {
  font-size: 22px;
  color: #151515
}

.v_detail .desc {
  width: 624px;
  margin-top: 14px;
  font-size: 14px
}

.v_detail .desc dt,
.v_detail .desc dd {
  float: left;
  min-height: 22px;
  margin-top: 5px;
  line-height: 20px
}

.v_detail .desc dt {
  width: 80px;
  color: #999
}

.v_detail .desc dt i {
  width: 19px;
  height: 15px;
  margin: 3px 5px 0 0;
  vertical-align: top
}

.v_detail .desc dt i.t1 {
  background-position: -185px -110px
}

.v_detail .desc dt i.t2 {
  background-position: -204px -110px
}

.v_detail .desc dt i.t3 {
  background-position: -223px -110px
}

.v_detail .desc dt i.t4 {
  background-position: -242px -110px
}

.v_detail .desc dt i.t5 {
  background-position: -261px -110px
}

.v_detail .desc dd {
  width: 534px
}

.v_detail .desc dd span {
  display: inline-block;
  margin: 0 8px;
  font-size: 11px;
  font-family: dotum, sans-serif;
  color: #e0e0e0
}

.v_detail .desc dd a {
  color: #004cbb
}

.v_detail .synop {
  padding: 25px 40px 0 0;
  font-size: 14px;
  line-height: 25px
}

.v_detail .spi {
  position: absolute;
  top: 40px;
  right: 40px
}

.v_comment {
  width: 814px;
  padding: 40px 0
}

.v_comment h3,
.v_comment .count {
  display: inline-block;
  height: 24px;
  font-size: 24px;
  line-height: 24px
}

.v_comment .count {
  margin-left: 6px;
  font-weight: normal;
  color: #ff2e3a
}

.v_comment form {
  padding: 18px 0 5px;
  font-size: 14px
}

.v_comment .avator {
  float: left;
  width: 50px;
  padding-top: 5px
}

.v_comment .avator img {
  border-radius: 50%;
  border: 1px solid #e8e8e8
}

.v_comment .write {
  float: left;
  position: relative;
  width: 762px;
  border: 1px solid #b3b3b3;
  background: #fff
}

.v_comment .write label {
  display: block;
  height: 43px;
  padding-left: 15px;
  color: #c6c6c6;
  line-height: 43px;
  cursor: text
}

.v_comment .textbox {
  display: none;
}

.v_comment .textbox textarea {
  display: block;
  width: 742px;
  margin: 10px;
  border: 0;
  background: transparent;
  font-size: 16px;
  color: #333;
  line-height: 20px;
  resize: none;
  outline: none
}

.v_comment .textbox .btn_area {
  height: 44px;
  border-top: 1px solid #ededed;
  text-align: right;
  line-height: 44px
}

.v_comment .textbox .btn_area span {
  margin-right: 6px
}

.v_comment .textbox button {
  width: 110px;
  height: 46px;
  margin: -1px -1px 0 0;
  background: #3865cd;
  font-size: 16px;
  color: #fff;
  cursor: pointer
}

.comment_list li .avator {
  padding-top: 15px
}

.comment_list li .memo {
  margin-left: 50px;
  padding: 9px 0 12px;
  border-top: 1px solid #f5f5f5
}

.comment_list li strong {
  margin-right: 12px;
  font-size: 14px;
  color: #6b778c
}

.comment_list li em {
  font-size: 11px;
  font-family: tahoma, sans-serif;
  color: #999
}

.comment_list li p {
  padding-top: 2px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word
}

.comment_list li:first-child .memo {
  border: 0
}

.v_comment .btn_more {
  display: block;
  position: relative;
  height: 28px;
  border-radius: 1px;
  border: 1px solid #f2f2f2;
  background: #f7f7f7;
  text-align: center;
  line-height: 28px
}

.v_comment .btn_more i {
  width: 22px;
  height: 11px;
  background-position: -230px -20px
}

.v_chart {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 325px;
  padding: 40px 0 40px 30px;
  border-left: 1px solid #e6e6e6
}

.v_chart h3 {
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: -1px
}

.v_chart ol li {
  position: relative;
  height: 25px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 25px
}

.v_chart ol li span {
  float: left;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  text-align: center;
  line-height: 25px;
  letter-spacing: -1px;
  border: 1px solid #d96600;
  color: #d96600;
}

.v_chart ol li span.cl {
  background: #d96600;
  color: #fff
}

.v_chart ol li strong {
  overflow: hidden;
  display: block;
  margin-right: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: -1px
}

.v_chart ol li em {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  color: #999;
  text-align: right;
  letter-spacing: -1px
}

.v_chart ul {
  position: absolute;
  top: 40px;
  right: 0
}

.v_chart ul li {
  float: left
}

.v_chart ul li a {
  display: block;
  width: 42px;
  height: 22px;
  margin-left: -1px;
  border: 1px solid #d7d7d7;
  color: #888;
  text-align: center;
  text-decoration: none;
  line-height: 22px
}

.v_chart ul li a.on {
  position: relative;
  border-color: #d96600;
  background: #d96600;
  font-weight: bold;
  color: #fff;
  letter-spacing: -1px
}

.v_chart ul li.f a {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px
}

.v_chart ul li.l a {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px
}

.v_list2 {
  padding-bottom: 1px;
  border-bottom: 1px solid #e6e6e6
}

.v_list2 li {
  position: relative;
  padding: 20px 40px 20px 0;
  font-size: 13px;
  border-top: 1px solid #f5f5f5;
  zoom: 1;
}

.v_list2 li a span {
  overflow: hidden;
  display: block;
  float: left;
  width: 140px;
  height: 200px;
  margin-right: 20px
}

.v_list2 li a img {
  transition: -webkit-transform .2s cubic-bezier(.165, .84, .44, 1);
  transition: transform .2s cubic-bezier(.165, .84, .44, 1);
  transition: transform .2s cubic-bezier(.165, .84, .44, 1), -webkit-transform .2s cubic-bezier(.165, .84, .44, 1)
}

.v_list2 li a:hover img {
  transition-duration: .3s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05)
}

.v_list2 li a:hover strong {
  text-decoration: underline;
  color: #1e4fad
}

.v_list2 li a strong {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #ff7800
}

.v_list2 li p {
  margin-left: 160px;
  color: #999;
  line-height: 23px
}

.v_list2 li p.score {
  margin: 0 0 6px 160px
}

.v_list2 li p.synop {
  color: #444
}

.v_list2 li p .vbar {
  display: inline-block;
  margin: 0 8px;
  font-size: 12px;
  color: #e5e5e5
}

.v_list2 li em {
  display: inline-block;
  height: 20px;
  font-size: 22px;
  color: #ff2e3a;
  vertical-align: top;
  line-height: 20px
}

.v_list2 li ins {
  position: absolute;
  bottom: -1px;
  left: 1px;
  width: 160px;
  height: 1px;
  background: #fff;
  font-size: 0;
  line-height: 0;
  z-index: 10
}

.v_list2 li i {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  width: 138px;
  height: 198px;
  border: 1px solid #000;
  opacity: .08;
  filter: alpha(opacity=8)
}

.v_list2 li:first-child {
  border: 0
}

.v_list2 li:after {
  display: block;
  clear: both;
  content: ''
}



.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

#wrapper {
  text-align: center;
  width: 500px;
  margin: auto;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.cover {
  background-color: #38384b;
  z-index: 100;
  width: 200px;
  height: 60px;
  left: 647px;
  position: relative;
  top: 0px;
  box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 1);
}

