<div class="container">
    <div class="row">
        <div class="col-md">
        
            <h5>HOME</h5>
            <a class="btn btn-primary" href="/logout" role="button">Sign Out</a>
        </div>
    </div>
</div>