<!DOCTYPE html>
<html>

<head>

    <title>
        DASHBOARD
    </title>
    <link rel="icon" type="image/ico" href="/admin/group.ico"></link>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">


    <style>
        .logincontainer {
            width: 550px;
            height: auto;
            margin: 0 auto;
            padding: 10px;
            position: relative;
        }
    </style>

</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->

<body class="hold-transition> layout-top-nav">
    <div class="wrapper">

        <!-- INSERT HEADER -->
        <header class="main-header" style="background-color:#ffffff">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/s" class="navbar-brand" style="width:1000px; position:relative; padding-left:20px;text-align: center;">
                            <b>
                                <i class="glyphicon glyphicon-th"></i> Live Video Streaming </b>
                        </a>
                       
                    </div>


                </div>
                <!-- /.container-fluid -->
            </nav>
        </header>
        <!-- end of header -->

        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="logincontainer">
                <!-- Content Header (Page header) -->
                <section class="content-header">


                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">


                        <div class="col-xs-6" style="width: 450px;">
                            <div class="box box-gray">

                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->

                                <div class="box-body" style="text-align: center;">

                                    <div class="modal-content" style="height:auto">
                                        <div class="modal-header">
                                            <h4 class="box-title text-maroon">Admin Login</h4>

                                        </div>

                                        <div class="modal-body">

                                            <form id="signin" name="signin" method="post" action="signin" class="form-horizontal">


                                                <div class="form-group">
                                                
                                                    <div class="col-lg-12">
                                                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                   
                                                    <div class="col-lg-12">
                                                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                    </div>
                                                </div>

                                        </div>
                                        <!-- body -->

                                        <div class="modal-footer" style="margin-top:30px;">

                                            <button type="submit" type="submit" class="btn btn-success">Login</button>
                                            <button type="button" id="btnEditClose" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                        </form>
                                    </div>


                                </div>
                                <!-- /.box-body -->

                            </div>
                            <!-- /.col -->


                        </div>
                        <!-- /.row -->


                </section>
                <!-- /.content -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- ./wrapper -->
</body>

</html>