<% include ../partials/header.ejs %>



  <!-- BEGIN MAIN CONTENT -->
  <div id="container">

    <div class="v_playingwrap">

      <div class="w">

        <div class="v_playing fc">

          <!-- start of v_player -->
          <div class="v_player" data-total="#" data-week="#" data-month="#">

            <!-- video source -->
            <div class="myWrapper">
              <iframe allowfullscreen="true" allowtransparency="false" scrolling="no" src="" frameborder="0"></iframe>
            </div>
            <!-- end of video source -->

            <div class="v_playerguide">

              <span class="help">재생문제해결
                <a href="#" title="도움말보기" class="sp">보기</a>
              </span>
              <div class="v_playerhelp">
                <ul>
                  <li>동영상이 안 나올 땐 F5를 눌러 재시도하시거나 신호를 교체해 재생해 보세요. (优酷/유쿠/HLS 등)</li>
                  <li>IE는 재생이 원활하지 않을 수 있습니다, Chrome/QQ/360 등 Webkit 계열 브라우저를 추천합니다.</li>
                  <li>그래도 안나오거나 보고싶은 영상이 있으면 `
                    <a href="qna.html">고객센터</a>`를 통해 관리자한테 요청해 주세요.</li>
                </ul>
                <a href="#" title="닫기" class="sp">레이어 닫기</a>
              </div>

            </div>
            <!-- end of player guide -->

          </div>
          <!-- end of v_player -->

          <!-- start playlist -->
          <div class="v_playlist">
            <h5>
              <%= provider.websiteName %>
            </h5>
            <ol>
              <% videos.forEach(vids => { %>
                <li>
                  <span>
                    <%= vids.title %>
                  </span>
                  <p>
                    <button type="button" data-id="<%= vids.url %>" class="hls">...</button>
                  </p>
                </li>
                <% }) %>
            </ol>
          </div>
          <!-- end of playlist -->

        </div>
        <!-- end of v_playing_fc -->

            <!-- begin video listing -->
              <div class="v_main">
                <div class="vids-wrap">
                  <!-- begin video loop -->
                  <ul class="v_list">
                    <% providers.forEach(providers => { %>
                      <li>
                        <a href="/watch/<%= providers.id %>" title="<%= providers.websitename %>">
                          <span>
                           
                          </span>
                          <strong>
                            <%= providers.websitename %>
                          </strong>
                        </a>
                        <span>
              
                        </span>
                      </li>
                      <% }) %>
                  </ul>
                </div>
              </div>
            <!-- end of video listing -->

      </div>
      <!-- end of v_playing_fc -->

    </div>
    <!-- end of w -->

  </div>
  <!-- end of v_playingwrap -->

  </div>
  <!-- end of container -->

  <% include ../partials/footer.ejs %>